---
layout: default
title : Homepage
navbar_title: Home
---

<div class="row">
    <div class="col-lg-3 col-md-4">
        {% include widgets/profile_card_mini.html %}
    </div>
    <div class="col-lg-9 col-md-8">

        {% include widgets/profile_card_bio_only.html %}

        {% include widgets/research_interests_card.html %}

        {% if site.data.display.homepage.show_experience %}
            {% include widgets/education_card.html %}
            {% include widgets/experience_card.html %}
        {% endif %}

        {% if site.data.display.homepage.show_selected_publications %}
        {% assign pubs = site.publications | where: "selected", true | sort: "selected_order" %}
        {%
        include widgets/publication_card.html
        publications=pubs
        title='<i class="fas fa-book"></i> Publications'
        %}
        {% endif %}

        {% assign featured_projects = site.showcase | where: "selected", true | sort: "selected_order" %}
        {% if featured_projects.size > 0 %}
        {%
        include widgets/home_projects_card.html
        projects=featured_projects
        title='<i class="fas fa-folder-open"></i> Projects'
        %}
        {% endif %}

        {% include widgets/patent_card.html %}

        {% include widgets/honors_card.html %}
    </div>
</div>
